.container{
    width: 900px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center;  */
    /* start,end */
    /* justify-content: center; */
    flex-wrap: wrap;
    /* column-gap: 5px;
    row-gap: 3px; */
    gap: 5px;
}
.item{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}
.items{
    border: 2px solid black;
}
.grid-container{
    width: 600px;
    height: 400px;
    padding: 10px;
    border: 1px solid black;
    margin: 20px auto;
    display: grid;
    background-color: wheat;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba(61, 9, 61, 0.8);
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(183, 144, 86);
}
.content1{
grid-column-start: 2;
    grid-column-end: 4;
    background-color: greenyellow;
       
}
.content2{
grid-column-start: 2;
    grid-column-end: 3;
    background-color: blanchedalmond;
}
.content3{
grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(197, 52, 161);
}
.footer{
/* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
    background-color: rgb(74, 134, 198);
}